CENG240/
EE281/
ECON210/
ENG101/
ENG102/
ENG211/
IS100/
Kitaplar/
MATH219/
Staj2023/
Tübitak/
CENG350/lecturenotes/
CENG140/THE2/test/
CENG232/*.pptx
CENG232/Xilinx.lic
CENG232/logisim.jar
CENG435/THE2/.vagrant/

**/.DS_Store
**/.pyc

__pycache__/
*.py[cod]
*$py.class
*.class
